@mixin page-container {
	width: 80%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 2rem;
}

@mixin elevated-container {
	padding: 1rem;
	background-color: var(--surface-variant);
	border-radius: 1rem;

	input,
	textarea,
	select {
		background-color: var(--surface);

		&:focus-visible {
			outline: 2px solid var(--accent-highlight);
		}
	}
}
