header.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 2rem;
	background-color: var(--elevated-surface);
	color: var(--on-elevated-surface);
	height: 6rem;

	& > div {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
}

.profile-dropdown {
	position: relative;
}

.profile-dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	background: var(--accent);
	border-radius: 1rem;
	margin-top: 0.5rem;
	min-width: 200px;
	z-index: 1000;
}

.profile-dropdown-item {
	all: unset;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 12px 16px;
	cursor: pointer;
	transition: background-color 0.2s;
	border-radius: 0.5rem;

	&:hover {
		background-color: var(--accent-highlight);
	}

	i {
		font-size: 1.3rem;
		margin-right: 12px;
	}
}
