.main-page {
	width: 80%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 2rem;

	&__search-container {
		display: flex;
		align-items: center;
		margin-block: 2rem;
		position: relative;

		label {
			position: absolute;
			top: -1.75em;
			font-size: 1.25rem;
		}

		button {
			all: unset;
			margin-inline-start: 1rem;
			font-size: 2rem;
			transition: color 200ms;
			cursor: pointer;

			&:hover {
				color: var(--accent-highlight);
			}
		}
	}

	input[type="search"] {
		width: 100%;
		padding: 0.5em;
		background-color: var(--surface-variant);
		color: var(--on-surface-variant);
		font-size: 1.3rem;
		border: none;
		border-radius: 0.5em;

		&:focus-visible {
			outline: 2px solid var(--elevated-surface);
		}
	}

	&__toolbar {
		margin-block: 2rem;
		padding: 1rem;
		border-block: 2px solid var(--surface-variant-highlight);

		i.fas {
			margin-inline-end: 0.25rem;
			color: var(--surface-variant-highlight);
		}

		select {
			background-color: var(--surface-variant);
			color: var(--on-surface-variant);
			border: none;
			padding: 0.5rem;
			border-radius: 0.5em;
			cursor: pointer;
			transition: background-color 0.2s, color 0.2s;
		}

		&__sort span {
			margin-inline-end: 1rem;
			opacity: 0.85;
		}
	}
}
